*{
    padding: 0;
    
}
:root{
    --red:#990000;
    --yellow:#FFA500;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.img-part{
    background-image: url('images/hamburger-4095155_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a0e27;
    min-height: 400px;
    display: flex;
    align-items: flex-start;
    padding-top:130px;
    position: relative;
    gap: 10px;
}
.content{
    color: white;
    font-size: 75px;
    font-family: Arvo;
    font-weight: bold;
    line-height: 1.2;
    margin-left:30px;
    margin-top: 70px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.menu {
    background-image:url('images/food_bg.png');
    background-size:fill ;
    min-height: calc(200vh - 465px);
    padding: 25px 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10%;
   
    
}
.title{
    color:white;
    font-size: 40px;
    font-family: "Brush Script MT", "Lucida Handwriting", Apple Chancery, cursive;
    text-shadow: 0 0 5px #990000, 
    0 0 10px #990000, 
    0 0 15px #990000, 
    0 0 20px #990000;
    text-align: center;
    margin-bottom: 50px;
}
.food-but{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 5%;
   justify-content: center;
}
.circle{
    width: 200px;  
    height: 200px; 
    background-color: #181412;
    border: var(--yellow) 6px solid;
    border-radius: 50%; 
    position: relative;
    overflow: hidden; 
    z-index: 9;
    filter: drop-shadow(0 0 10px rgb(102, 101, 101));
    display:flex;
    transition: transform 0.3s ease;
}

.circle a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; 
}

.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    object-fit: contain;
    z-index: 10;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.7));
}
.circle:hover{
    transform: scale(1.2);

}

