:root{
    --red:#990000;
    --yellow:#FFA500;

}
body {
    font-family: Arial, sans-serif;
}
.navlogo img{
    height: 50px;
    width:auto;
    margin-top: 8px;
}
.navbar{
    height:65px;
    width:100%;
    background-color: var(--red);
    display:flex;
    justify-content: space-between;
    position: fixed;  
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
.nav-link {
    color: #D3D3D3;
    text-decoration: none;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 25px;
    transition: all 0.3s ease;
    border: #D3D3D3 solid 1px;
    box-shadow: 0px 9px 11.2px 0px rgba(0, 0, 0, 0.27);
}
.cart{
    font-size: 24px;
    text-decoration: none;
    color: #D3D3D3;
    padding: 12px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    box-shadow: 0px 9px 11.2px 0px rgba(0, 0, 0, 0.27);
}
.nav-link:hover {
    background-color:rgb(249, 234, 211);
    color: var(--red);
    box-shadow: 0px 9px 11.2px 0px rgba(0, 0, 0, 0.27);
    transform: scale(1.1);
}

.nav-link.active {
    background-color: #FFA500;
    color: var(--red);
     box-shadow: 0px 9px 11.2px 0px rgba(0, 0, 0, 0.27);
}
.cart:hover {
    transform: scale(1.2);
    cursor:pointer;
    background-color: bisque;
    color: #990000;
}